input[type="checkbox"] {
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: currentColor;
    border-color: currentColor;
}

input[type="checkbox"]:checked::before {
    content: '✓';
    color: white;
    display: block;
    text-align: center;
    font-size: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
